@import "styles/vars";


.topSection {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 24px;
  justify-content: space-between;
}

.topCard {
  width: 450px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.overviewCard {
  width: 100%;
  display: flex;
  flex-direction: column;
}
