@import "styles/vars";

.buttonDark {
  text-decoration: none;
  background: none;
  border: none;
  color: $navy;
}

.buttonLight {
  text-decoration: none;
  background: none;
  border: none;
  color: $white;
}

.iconLight {
  color: $white;
}

.iconDark {
  color: $navy;
}
