@import "styles/vars";

.container {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  max-width: none;
  margin: 0;
  padding: 0;
}

.leftContainer {
  width: 490px;
  padding: 35px 45px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.rightContainer {
  display: flex;
  flex-grow: 1;
  background-image: url('https://comply-assets.s3-us-west-2.amazonaws.com/login-background.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.wordmarkLogo {
  font-weight: 500;
  font-size: 28px;
  line-height: 23px;
  color: #23D8AB;
}

.title {
  color: #212B36;
  font-weight: 800;
  font-size: 36px;
  line-height: 28px;
  margin-bottom: 30px;
}

.desc {
  font-size: 18px;
  line-height: 28px;
  color: #787B7E;
}

.input {
  border: 1px solid #ACB6BE;
  box-sizing: border-box;
  border-radius: 6px;
  width: 100%;
  padding: 16px 20px;
  font-size: 16px;
  margin-bottom: 15px;
}

.error {
  font-size: 14px;
  padding-top: 8px;
  color: $error;
}

.cta {
  width: 100%;
}

.googleButton {
  width: 100%;
  justify-content: center;
  height: 54px;
  color: #444 !important;
  opacity: 1 !important;
  font-size: 16px !important;
  line-height: 22px !important;
  font-weight: 500 !important;
  border: 0.5px solid #BBBBBB !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1) !important;
  border-radius: 4px !important;
}

.orSection {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 24px;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 16px;
}

.orText {
  color: #787B7E;
  padding-left: 18px;
  padding-right: 18px;
}

.footer {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  line-height: 22px;
  color: #787B7E;
}

.footer a {
  color: #787B7E;
  text-decoration: underline;
}

.footer a:hover {
  color: #787B7E;
}
