.container {
  display: flex;
  justify-content: space-between;
}

.shortCard {
  width: 360px;
}

.cardRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 24px;
}

.form {
  width: 100%
}

.fieldsCard {
  width: 100%;
  margin-top: 16px;
  margin-bottom: 16px;
}

.fieldsCardTitleSection {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   margin-bottom: 24px;
}

.addFieldButton {
  position: relative;
  bottom: 8px;
  left: 16px;
}

.ctaContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.dateRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
