@import "styles/vars";

.columnName {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: $gray-500;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
}

.columnNameRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 8px;
}

.fieldName {
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
}

.fieldValue {
 font-size: 18px;
 font-weight: 400;
 line-height: 32px;
}
