@import "styles/vars";

.headerSection, .alertSection {
  width: 100%;
}

.divider {
  border-top: 1px solid $chrome;
  width: 100%;
  margin: 16px 0px;
}

.formContainer {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding-top: 16px;
}

.formContent {
  width: 512px;
}
