@import "styles/vars";

.topSection {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 24px;
  justify-content: space-between;
}

.overviewCard {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
}
