@import "styles/vars";

$timeline-border-color: rgba(8,16,74, .08);

@mixin smallText {
  font-size: 10px;
  color: rgba(8,16,74, .4);
}

.container {
  padding: 0px;
  margin: 100px 0px;
  display: flex;
  flex-direction: column;
}

.nodeSection {
  display: flex;
}

.monthCountSection {
  // height: 20px;
  width: 100%;
  padding: 4px;
  border-bottom: 1px solid $timeline-border-color;
}

.monthCount {
  font-size: 20px;
}

.dueLabel {
  @include smallText;
}

.month {
  width: 96px;
  height: 120px;
  border-left: 2px solid $timeline-border-color;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  //flex-wrap: nowrap;
  // padding: 6px 0px;
}

.monthNodeSection {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.node {
  width: 24px;
  height: 24px;
  background: #13C296;
  border-radius: 4px;
  margin: 2px;
}

.monthLabelSection {
  border-top: 2px solid $timeline-border-color;
  height: 16px;
  width: 100%;
  padding-left: 4px;
  padding-top: 2px;
  @include smallText;
}

.monthLabel {
  width: 100px;
  padding: 8px 4px;

}

.node .hover {
  position: absolute;
  bottom: 200px;
  z-index: 1;
  width: 300px;
  height: 160px;
  border: 1px solid #ccc;
  background-color: #fff;
  visibility: hidden;
  padding: 8px;
}

.node:hover {
  cursor: pointer;
}

.node .hover:hover {
  visibility: visible;
}

.node:hover .hover {
  visibility: visible;
}
