@import "styles/vars";

$timeline-border-color: rgba(8,16,74, .08);

@mixin smallText {
  font-size: 10px;
  color: rgba(8,16,74, .4);
}

.container {
  min-width: 1040px;
  padding: 0px;
  margin: 24px 0px;
  display: flex;
  flex-direction: column;
}

.nodeSection {
  display: flex;
}

.monthCountSection {
  width: 100%;
  padding: 4px;
  border-bottom: 1px solid $timeline-border-color;
}

.monthCount {
  font-size: 20px;
}

.dueLabel {
  @include smallText;
}

.month {
  width: 96px;
  height: 120px;
  border-left: 2px solid $timeline-border-color;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.monthNodeSection {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.node {
  width: 24px;
  height: 24px;
  background: #13C296;
  border-radius: 4px;
  margin: 2px;
}

.monthLabelSection {
  border-top: 2px solid $timeline-border-color;
  height: 16px;
  width: 100%;
  padding-left: 4px;
  padding-top: 2px;
  @include smallText;
}

.monthLabel {
  width: 100px;
  padding: 8px 4px;

}

.node .filingHover {
  visibility: hidden;
  position: relative;
  z-index: 1;
  bottom: 180px;
  left: 16px;
  min-width: 250px;
  padding: 24px;
  background-color: #fff;
  border: 2px solid rgba(8, 16, 74, 0.08);
  border-radius: 4px;
  color: #08104A;
}

.node:hover {
  cursor: pointer;
}

.node .filingHover:hover {
  visibility: visible;
}

.node:hover .filingHover {
  visibility: visible;
}

.filingHover .filingName {
  font-weight: 800;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 8px;
  color: #08104A;
}

.filingHover .agencyName {
  font-size: 12px;
  line-height: 12px;
  opacity: 0.5;
}

.filingHover .jurisdictionName {
  margin: 16px 0px;
  font-weight: 800;
  font-size: 20px;
  line-height: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: #2A6995;
}

.filingHover .filingDueDate {
  font-weight: 800;
  font-size: 20px;
  line-height: 20px;
}
