@import "styles/vars";

.clockIcon {
  color: $accent;
  font-size: 16px;
}

.clockIconError {
  color: $error;
  font-size: 16px;
}

.filingIcon {
  color: $gray-500;
  margin-left: 4px;
  font-size: 18px;
}

.statusNavy {
  color: $navy;
  .filingIcon {
    color: $navy;
  }
}

.dueText {
  font-weight: 600;
  margin-left: 4px;
}
