.card {
  margin-bottom: 16px;
  width: 600px;
}

.cardBody {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cardBodyRight {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  align-items: flex-end;
}
