.sideList {
  display: flex;
  flex-direction: column;
  flex-basis: 20%;
  max-width: 20%;
  background-color: #f7f7f7;
  height: 87vh;
  overflow: scroll;
}

.content {
  padding: 48px;
}

.companyFilingsHeader {
  border-top: '1px solid #ccc';
  border-bottom: '1px solid #ccc';
  padding-left: 16px;
  font-size: 14px;
  color: #fff;
  background-color: #545a60;
}

.filingsList {
  overflow-y: scroll;
}
