.main {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  height: 100%
}

.page {
  flex-grow: 1;
  flex-direction: column;
  display: flex;
}

.container {
   width: 100%;
   display: flex;
   justify-content: center;
   margin-bottom: 80px;
}

.content {
  margin-top: 32px;
  width: 800px;
}

.table {
  margin-top: 24px;
  width: 100%;
}

.tableRow:hover {
  cursor: pointer;
}
