@import "styles/vars";

.topCard {
  width: 550px;
  height: 256px;
  margin-top: 16px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.upcomingTitleContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 16px;
  padding-left: 16px;
  padding-bottom: 8px;
  border-bottom: 1px solid $navy;
}

.upcomingTableWrapper {
  height: 300px;
  width: 100%;
  overflow: scroll;
}

.upcomingCell {
  border-right: none;
  font-size: 15px;
  padding-left: 8px;
  height: 44px;
}
