@import "styles/vars";

.card {
  padding: 16px;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 16px;
  margin-bottom: 16px;
  width: 352px;
}

.cardTitleSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 15px;
  margin-bottom: 16px;
}

.dueSection {
  margin-bottom: 16px;
}
