.headerBar {
  border-bottom: 1px solid #eceef2;
  box-shadow: 0 1px 5px 0 rgba(61,81,134,0.06);
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 46px 0 30px;
  position: relative;
  z-index: 10;
}
