@import "styles/vars";

.wrapper {
  width: 100%;
  margin: 0px;
  padding: 0px;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}


.leftPanel {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  border-right: 2px solid #C3CFD9;
  align-items: center;
  justify-content: center;
}

.rightPanel {
  display: flex;
  flex-basis: 50%;
  background-color: #F7F9FA;
}

.titleSection {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 48px;
}

.bottomSection {
  margin-top: 48px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}
