.link {
  color: #30749F;
}

.link:hover {
  cursor: pointer;
  color: darken(#30749F, 8);
}

.icon {
  margin-right: 4px;
}

.modal {
  width: 50%;
  max-width: none !important;
}

.title {
  width: 100%;
  text-align: center;
  margin-top: 16px;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px 24px;
}

.table {
  width: 300px;
  margin: 24px 24px;
}

.text {
  width: 500px;
}

.cell {
  border-right: none;
  font-size: 15px;
  padding-left: 8px;
  height: 44px;
}
